@use '@/styles/variable.scss' as *;

.navbar:after {
 top: -25px;
 font-size: 11px;
 font-weight: 600;
 position: absolute;
 content: 'REMINDERS';
}

.description-cards .box-icons .icons:hover {
 animation: $scale_effect .3s linear;
}

.wrapper-form form .wrapper input:focus {
 border-bottom: 2px solid $primary-color-text;
}

.wrapper-form form button:hover {
 line-height: 35px;
 transform: translateY(5px);
 text-shadow: 0px 1px 5px $primary-color-text;
}

.navbar .items:hover .icons {
 animation: $scale_effect .5s linear;
}

.container-button .box-button .items:active, .player-audio:active {
 color: $primary-color-icons;
 transform: translateY(2px);
 box-shadow: inset 0 4px 2px $primary-color-background;
}

.container-button .box-button .items:active .button {
 color: $primary-color-icons;
}

.container-reminder .wrapper .wrapper-text .text-arti:nth-child(2):before, .container-reminder .wrapper .wrapper-text .text-arti:nth-child(2):after, .reminder .wrapper-reminder:before, .reminder .wrapper-reminder:after, .box-text:before, .box-text:after, .box-motivasi-cards #title-motivasi:before {
 top: -5px;
 left: -7px;
 z-index: 15;
 content: '✨';
 font-size: 18px;
 position: absolute;
 animation: $sparkle_effect 4s ease infinite;
}

.container-reminder .wrapper #wrapped-reminder .box:before, .box-motivasi-cards .box-text:before, .box-content .wrapper-button-input:before {
 left: 0;
 top: -25px;
 position: absolute;
 animation-name: none;
 content: attr(data-info);
}

.box-content .wrapper-button-input:before {
 left: 70%;
 opacity: .9;
 width: 120px;
 font-size: 12px;
 font-family: 'Russo One', serif;
}

.section-reminder:before {
 top: 40px;
 right: 15px;
 width: 85px;
 font-size: 13px;
 position: absolute;
 content: attr(data-info);
 color: $primary-color-icons;
 font-family: 'Russo One', serif;
}

.box-motivasi-cards .box-text:before {
 font-size: 13px;
 text-transform: capitalize;
}

.box-ayat .box-text:before {
 display: none;
}

.container-reminder .wrapper .wrapper-text .text-arti:nth-child(2):after, .container-reminder .wrapper .wrapper-text .text-arti:nth-child(2), .reminder .wrapper-reminder:after, .box-text:after {
 top: 85%;
 left: 94%;
 animation-delay: 1.5s;
 text-transform: capitalize;
}

.box-motivasi-cards #title-motivasi:before {
 font-size: 20px;
 animation: $sparkle_effect 4s ease infinite;
 }

.box-motivasi-cards .box-text:before {
 text-transform: none;
 text-align: start;
 top: -40px;
}

.box-motivasi-cards .nm-txt:before, .box-motivasi-cards .text-arti:before, #wrapper-button-pagination #number-pages:before, .box-ayat .text-arti:before, #wrapper-surah-pendek .box-text .text-arti:before {
 content: attr(data-info);
 position: relative;
}

.box-motivasi-cards .text-arti:nth-child(3) {
 padding-bottom: 25px;
}

.box-motivasi-cards .box-text.text-arti:before {
 margin-top: 20px;
 position: absolute;
 color: $primary-color-text;
}

#wrapper-surah-pendek .box-text:before {
 display: none;
}
#wrapper-surah-pendek .box-text:after {
 top: 91%;
}

.container-selected-activity:before, .container-personal .box-content .box-input:before, .container-personal .box-content .box-input:after {
 content: attr(data-info);
 position: absolute;
 bottom: 0;
 left: 0;
 z-index: 200;
 font-size: 13px;
 font-weight: 500;
}

.container-personal .box-content .box-input:before, .container-personal .box-content .box-input:after {
 top: -15px;
 content: 'Tuliskan deskripsi.';
}

.container-personal .box-content .box-input:after {
 content: attr(data-info);
 left: 80%;
}

.box-content .wrapper-button-input .container-button-input:nth-child(1) {
 width: 65px;
 position: relative;
}
.box-content .wrapper-button-input .container-button-input:nth-child(1) .button-submit {
 height: 100%;
 display: flex;
 align-items: center;
 border: 2px solid $third-color-text;
}
.box-content .wrapper-button-input .container-button-input:nth-child(1) .button-submit ion-icon {
 color: $third-color-text;
 font-size: 30px;
 position: absolute;
}

//// SECTION JAVASCRIPT ACTIVE MODE ////
//// SECTION JAVASCRIPT ACTIVE MODE ////
//// SECTION JAVASCRIPT ACTIVE MODE ////
//// SECTION JAVASCRIPT ACTIVE MODE ////
//// SECTION JAVASCRIPT ACTIVE MODE ////
//// SECTION JAVASCRIPT ACTIVE MODE ////

.full-hadits.active {
 width: 260px;
 height: 91%;
 visibility: visible;
}

.full-hadits.active .text {
 opacity: 1;
 transition-delay: .5s;
 transition: opacity 1s linear;
}

.is-active-page.active {
 animation: $scale_effect .4s linear;
}

.sidebar nav .text.active {
 margin-right: 10px;
 transition: all .3s linear;
}

.component-images.active {
 animation: $scale_effect_small .400s linear;
}

#wrapper-ayat .box-ayat .box-text:after {
 opacity: 0;
 display: none;
}

#wrapper-ayat .box-ayat.active .box-text:after {
 opacity: 1;
 display: block;
 animation-delay: 0s;
 transition-delay: opacity 2s;
 transition: opacity 2s linear;
}

.box-content .button-submit.disabled {
 opacity: .6;
}

.box-activity.active .name #number-surah {
 color: $primary-color-background;
 background-color: $third-color-text;
}
.box-activity.active, .box-activity.isSelected {
 box-shadow: 2px 2px 2px 0px $third-color-text;
}
.box-activity.active .name, .box-activity.isSelected .name {
 color: $third-color-text;
}
.box-activity.active:before {
 top: -20px;
 content: '';
 width: 15px;
 height: 200%;
 position: absolute;
 transform: rotate(30deg);
 animation: $bling-effect 2s linear infinite;
 background-color: hsla(0,0%,63.1%,0.311);
}

.box-ayat.in-audio .wrapper-ayat #number-ayat {
 background-color: $primary-color-border; 
 color: $primary-color-background;
} 

.box-ayat.in-audio {
 border-image: linear-gradient(80deg, rgb(29,29,29,.1), $primary-color-border, rgb(29,29,29,.1)) 30;
 animation: $border-effect 2s linear infinite;
}