$primary-color-text: #FCFEF9;
$primary-color-cards: #273767;
$secondary-color-cards: #2F3E6D;
$primary-color-icons: #7787BE;
$secondary-color-text: #D9D9E8;
$primary-color-shadow: #8eaaffc1;
$primary-color-border: #a97525;
$secondary-color-icons: #7787BE;
$primary-color-background: #202848;
$primary-color-image: #7787BE;


@keyframes scale_effect {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale_effect_small {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparkle_effect {
 0%, 50%, 100% {
    opacity: .6;
    transform: scale(1);
    transform: translateX(4px);
    transform: translateY(4px);
  }
  50% {
    opacity: 1;
    transform: scale(1.08);
    transform: translateX(8px);
    transform: translateY(1px);
  }
  100% {
    opacity: .6;
    transform: scale(1);
    transform: translateX(4px);
    transform: translateY(4px);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}

:root {
  --s: 80px;
  --c1: #1b2548;
  --c2: rgba(252,254,249,0.05);
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,var(--c2) 68% 70%,#0000 72%;
}

.container-waves {
 position: absolute;
 bottom: 0;
 height: 50px;
 width: 100%;
}

.hero_area {
 width: 100%;
    bottom: 0px;
    height: auto;
    position: relative;
}

.waves {
    position: absolute;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
    bottom: 0;
    left: 0;
}

.parallax>use {
    animation: move-forever 30s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 20s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 30s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 27s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 29s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 20px;
        min-height: 30px;
    }
}

$scale-effect: scale_effect;
$zoomIn: zoomIn;
$sparkle-effect: sparkle_effect;
$scale-effect-small: scale_effect_small;
$background-pattern: radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s), radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s), repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s), radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c1);