$secondary-color-text: #FCFEF9;
$primary-color-text: #D9D9E8;
$primary-color-cards: #7787BE;
$secondary-color-cards: #2F3E6D;
$primary-color-icons: #7787BE;
$secondary-color-text: #D9D9E8;
$primary-color-shadow: #8eaaff;
$primary-color-border: #a97525;
$secondary-color-icons: #7787BE;
$primary-color-background: #202848;


@keyframes scale_effect {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale_effect_small {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

$scale-effect: scale_effect;
$scale-effect-small: scale_effect_small;