$secondary-color-text: #FCFEF9;
$primary-color-text: #585F3B;
$primary-color-cards: #907951;
$secondary-color-cards: #565E47;
$primary-color-icons: #585F3B;
$secondary-color-icons: #585F3B;
$primary-color-background: #d0cc87;